<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="certificates.css">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <main>
           <section>
               <h1>CERTIFICATES</h1>
               <div class="event-container">
                   <div class="event-card">
                       <h2>Lumeire'24 | July 01-02</h2>
                       <p>Lumeire'24 is an Event of Project Expo with Drone Show conducted by Department of Electronics and Communications of TKM College of Engineering</p>
                       <a href="#"></a>
                   </div>
                   <div class="event-card">
    
</body>
</html>